.App {
  text-align: center;
  min-height: 100vh;
  height: auto;
/*   background-image:  linear-gradient(to right bottom,  #ffb6a9 ,  #ffa494 ); 
 */  background-size: cover;

}
/* linear-gradient(to right bottom,  #ffd1c9 ,  #ffa494 ), */

.loginPage {
  min-height: 100vh;
  height: auto;
  background-image:  linear-gradient(to right bottom,  #ffb6a979 ,  #ffa494d0 ), url('https://images.pexels.com/photos/210186/pexels-photo-210186.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-blend-mode: lighten;
  background-size: cover;
  background-position: bottom;
  position: relative;

}

.create-habit-title {
  background-image: linear-gradient(to right, 	#ffa494,green);
  display: inline-block;
  -webkit-background-clip: text;
  color: rgba(24, 23, 23, 0.851);

}
.stopWatchLogo-left {
  height: 50px;
  position: absolute;
  right:70%;
  animation-name: rotate;
  animation-duration: 2s;

}
.checkBox-right {
  height: 50px;
  position: absolute;
  left:70%;
  animation-name: rotate;
  animation-duration: 2s;
}

@keyframes rotate{
  0% {
    transform: translate(0);
  }
  50% {
    transform:rotateZ(-180deg) ;
  }

  100% {
    transform: rotateZ(0);
  }
}


@media (max-width: 700px){
  .stopWatchLogo-left {
    right:80%
  }
  .checkBox-right {
    left:80%
  }

}
.habitCalender {
  min-height: 100vh;
  height: auto;
  background-image:  linear-gradient(to right bottom,  #ffb6a98a ,  #ffa49469 ), url('https://images.pexels.com/photos/775201/pexels-photo-775201.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  mix-blend-mode: hard-light;
  background-size: cover;
  background-position: center;
}
.createHabit {
  min-height: 100vh;
  font-size: xx-large;
  height: auto;
  background-image: linear-gradient(to right bottom,  #ffb6a98a ,  #ffa49469 ), url('https://images.pexels.com/photos/247421/pexels-photo-247421.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(1% 1%, 100% 0, 94% 100%, 0% 100%);
}

.dailyTimeTable{
  min-height: 100vh;
  height: auto;
  background-image: linear-gradient(to right bottom,  #ffb6a98a ,  #ffa49469 ),url('https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: cover;
  background-position: center;
  clip-path: polygon(1% 1%, 100% 0, 94% 100%, 0% 100%);
}

body {
  padding: 20px;
  padding-top: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.backgroundFill {
  min-height:100vh;
  height: auto;
  background-image:  linear-gradient(to right bottom,  #ffb6a9 ,  #ffa494 );
  clip-path: polygon(1% 1%, 100% 0, 94% 100%, 0% 100%);

  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.centerItem {
  text-align: center;
  margin: auto;
}

.calender {
  width: 100%;
  height: 100%;
}

.greenTitle {
  color:black;
}

.redTitle {
  color:black;
}

.greenCard {
  background-color: #47ff63;
  background-image: linear-gradient(to right bottom, #47ff63,
  #38cc4f)

}

.redCard {
  background-image: linear-gradient(to right bottom, #ff845b,#ff6633)
 
}

.timetable {
  background-color: lightgrey;
}

.cardText {
  color: black;
}

.timeCard {
  background-color: lightblue;
}

.timedBackground {
  background-color: #47ffbf;
}

.checkedBackground {
  background-color: #47e3ff ;
}

hr {
  border: 0;
  margin: 0;
  padding-bottom:0 ;
  clear:both;
  display: block;
  width: 100%;               
  background-color:red;
  height: 1px;
}


.card-container {
  display: flex;
  flex-direction: row;
  width:80vw;
  height: 30vh;
  margin-left: 8vw;
  margin-right:8vw;
  margin-top: 5vh;
  justify-content: space-between;
  align-items: flex-start;
}


.entire-card {
  position: relative;
  perspective: 1500px;
  width: 25vw;
  height: 30vh;
  line-break: loose;
}

.flip-card {
  width: 25vw;
  height: 30vh;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: 5px 5px 10px black ;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  transition: all .9s;

}

.flip-card-front {
  background-image: linear-gradient(to bottom, #a4abff,#a4fff9,#ffa494);

}

.flip-card-back {
  width:100%;
  transform: rotateY(-180deg);
}

.entire-card:hover .flip-card-front {
  transform: rotateY(180deg);
}

.entire-card:hover .flip-card-back{
  transform: rotateY(0);

}

.card-title {
  font-size: xx-large;
  text-transform: capitalize;
}


@media (max-width: 600px){
  .card-container {
    flex-direction: column;
    width:80vw;
    height: auto;
    justify-content: center;
    align-items: center;

  }
  .entire-card {
    position: relative;
    perspective: 1500px;
    width: 55vw;
    height: 30vh;
    min-height: 150px;
    line-break: loose;
  }

  .flip-card {
    width: 55vw;
    height: 20vh;
    min-height: 150px;

  }
}